<VirtualHost *:80>
    ServerName {{ domain_name }}
    DocumentRoot /var/www/{{ domain_name }}

    <Directory /var/www/{{ domain_name }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>